/* CSS Reset */
@import "reset.css";

*, 
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    background-color: transparent;
    color: #333;
    -webkit-font-smoothing: antialiased;
}

/* ---------- */

.viewport {
    height: 100vh;
    width: 100vw;
}

.hero {
    margin: 0 auto;
    width: 1440px;
    height: 650px;
    background: url('assets/background_image.jpg') 50% 100% no-repeat;
}

/* ---------- */

.promos {
    margin: 0 auto;
    width: 1440px;
    height: 200px;
}

.promo-list {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.promo-list > li {
    width: 360px;
    height: 200px;
}

.promo-image,
.promo-item {
    width: 100%;
    height: 100%;
}

/* ---------- */

footer {
    width: 1000px;
    margin: 20px auto;
    border: 2px solid black;
    font-size: 0.833em;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer-left {
    line-height: 1.2;
    color: #6e6e6e;
}

.footer-link,
.footer-link:visited {
    color: #08c;
}

.footer-right li{
    display: inline;
    border-left: 1px solid #ccc;
    padding: 0 6px;
}

#usa {
    align-self: flex-end;
}